section(class='container-fluid answer-container')
    .container
        .answer-text
            h1 Вопросы-ответы
        .answer-section.col-12
            button.accordion.col-8 Где и когда проводится акция?
                img(class ='rotate' src='img/dropdown.png')
            .panel.col-8
                p
                    | Акция проводится 11 апреля по 30 июня 2019 года во всех магазинах сети «Пятерочка».
                    | Период совершения покупки и регистрации чеков с 8 часов 11 апреля по 22 часа 2 мая
                    | 2019 года (по Московскому времени).
            button.accordion.col-8 Кто может принимать участие в акции?
                img(class ='rotate' src='img/dropdown.png')
            .panel.col-8
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            button.accordion.col-8 Как зарегистрироваться на сайте?
                img(class ='rotate' src='img/dropdown.png')
            .panel.col-8
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            button.accordion.col-8 Как зарегистрироваться на сайте?
                img(class ='rotate' src='img/dropdown.png')
            .panel.col-8
                p Как зарегистрировать чек на сайте?
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
