section(class='container-fluid')
    .container
      .tabContainer
            .buttonContainer
                button(onclick="showPanel(0,'#fff')") 1-7 августа
                button(onclick="showPanel(1,'#fff')") 8-15 августа
                button(onclick="showPanel(2,'#fff')") 16-23 августа
                button(onclick="showPanel(3,'#fff')") 24-31 августа
            .tabPanel
                    .row.tabrow
                         .col-lg-1
                         .col-lg-10.tab-first
                                p 21.09.2019
                                p Сергей
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Электросамокат
                         .col-lg-1
                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 16.09.2019
                                p Наталья
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Сертификат в SPA
                        .col-lg-1

                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 16.09.2019
                                p Роман
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Цифровая камера
                        .col-lg-1
                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 09.09.2019
                                p Екатерина
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Гироскутер
                        .col-lg-1
                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 09.09.2019
                                p Михаил
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Мини проектор
                        .col-lg-1
            .tabPanel
                tabs
                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 21.09.2019
                                p Сергей
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Электросамокат
                        .col-lg-1
                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 16.09.2019
                                p Наталья
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Сертификат в SPA
                        .col-lg-1
                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 16.09.2019
                                p Роман
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Цифровая камера
                        .col-lg-1

                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 09.09.2019
                                p Екатерина
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Гироскутер
                        .col-lg-1

                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 09.09.2019
                                p Михаил
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Мини проектор
                        .col-lg-1


            .tabPanel
                tabs
                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 21.09.2019
                                p Сергей
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Электросамокат
                        .col-lg-1
                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 16.09.2019
                                p Наталья
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Сертификат в SPA
                        .col-lg-1
                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 16.09.2019
                                p Роман
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Цифровая камера
                        .col-lg-1
                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 09.09.2019
                                p Екатерина
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Гироскутер
                        .col-lg-1

                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 09.09.2019
                                p Михаил
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Мини проектор
                        .col-lg-1
            .tabPanel
                tabs
                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 21.09.2019
                                p Сергей
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Электросамокат
                        .col-lg-1
                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 16.09.2019
                                p Наталья
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Сертификат в SPA
                        .col-lg-1
                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 16.09.2019
                                p Роман
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Цифровая камера
                        .col-lg-1

                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 09.09.2019
                                p Екатерина
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Гироскутер
                        .col-lg-1

                    .row.tabrow
                        .col-lg-1
                        .col-lg-10.tab-first
                                p 09.09.2019
                                p Михаил
                                a(href='personalemail@imunele.ru') personalemail@imunele.ru
                                p Мини проектор
                        .col-lg-1
            .row.winners
                  .col-lg-12.winners-col
                         a(href="#")
                            span К полному списку победителей
                            img(src="img/Vector.png")
